html {
    font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, li, form {
    margin: 0;
}

a {
    text-decoration: none;
}